<% if @album %>
  <h2>Album: <%= @album.name %></h2>
  <h3>Album Songs</h3>
  <% if @album.songs %>
    <ol>
      <% @album.songs.each do |song| %>
        <li><a href="/albums/<%= @album.id %>/songs/<%= song.id %>"><%= song.name %></a></li>
      <% end %>
    </ol>
  <% else %>
    <p>There are no songs listed for this album yet.</p>
  <% end %>

  <h4>Add a song:</h4>
  <form action="/albums/<%= @album.id %>/songs" method="post">
    <div class="form-group">
      <label for="song_track">Track</label>
      <input id="song_track" name="song_track" type="text" required>
      <label for="song_name">Song name</label>
      <input id="album_song_name" name="song_name" type="text" required>
    </div>
    <button type="submit" class="btn">Add song</button>
  </form>

  <p><a href="/albums/<%= @album.id %>/edit">Edit album</a></p>
  <p><a href="/artists/new">Add an artist</a></p>
  <p><a href="/albums">Return to album list</a></p>

<% else %>
  <h3>Looks like this album id isn't in our catalogue.</h3>

<% end %>

<p><a href="/">Return home</a></p>
